body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tile {
  text-align: center;
  min-width: 345px;
  margin: 0 auto;
}

.tile img {
  border: 2px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
}

.tile h1 {
  margin-top: 0px;
}

.tile-content-container {
  width: 80%;
  padding: 25px;
  top: 15%;
  margin: 0 auto;
}

.tile-container div:first-child{
  margin-top: 25px;
}

.tile-button {
  color: white;
  background-color: #FFCC17;
}

.tile-button:hover {
  color: white !important;
}

.tile-button:focus {
  color: white !important;
}

.profile-picture {
  width: 30%;
  border-radius: 100%;
}

.icon-container img {
  width: 5%;
}

hr {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  width: 50%;
  border: 1px solid #D3D3D3 !important;
}

.about-container {
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.about-content-container div h1 span{
  color: #8E28D1;
}

.about-button {
  margin-right: 15px;
  color: white;
  background-color: #FFCC17;
}

.about-button:hover {
  color: white !important;
}

.about-button:focus {
  color: white !important;
}

.search-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.search-container input {
  text-indent: 5px;
}

.application-title h1 {
  text-align: center;
  margin-top: 0px;
}

.application-container {
  position: relative;
}

.contact-container {
  text-align: center;
}

.contact-container h1 {
  margin: 0px
}

.contact-container div {
  padding: 15px;
}

@media (min-width: 768px) {
  .tile {
    width: 70%;
  }

  .tile-container div:first-child{
    margin-top: 25px;
  }
}
