body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tile-container {
  clear: both;
}

.profile-picture {
  width: 30%;
  border-radius: 100%;
  margin-right: 15px;
}

.icon-container img {
  width: 5%;
}

.about-container {
  clear:right;
}

.search-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.search-container input {
  text-indent: 5px;
}

.application-title h3 {
  text-align: center;
  margin-top: 0px;
}

.application-container {
  position: relative;
}
