body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tile-container div div{
  height: 149px;
  text-align: center;
}

.tile-container div div h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-picture {
  width: 30%;
  border-radius: 100%;
  margin-right: 15px;
}

.icon-container img {
  width: 5%;
}

.about-container img {
  float: left
}

.about-container div {
  overflow: hidden;
}

.about-container div h1 span{
  color: #8E28D1;
}

.about-button {
  margin-right: 15px;
  color: white;
  background-color: #FFCC17;
}

.about-button:hover {
  color: white;
}

.search-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.search-container input {
  text-indent: 5px;
}

.application-title h3 {
  text-align: center;
  margin-top: 0px;
}

.application-container {
  position: relative;
}

.contact-container {
  text-align: center;
}

.contact-container h1 {
  margin: 0px
}

.contact-container div {
  padding: 15px;
}

@media (min-width: 922px) {
  .tile-container div div{
    height: 149px;
  }
}

@media (min-width: 1028px) {
  .profile-picture {
    width: 270px;
  }
}
